[submodule "libraries/mountopts"]
	path = libraries/mountopts
	url = git@github.com:Uberspace/ansible-mountopts.git
[submodule "roles/server"]
	path = roles/server
	url = git@github.com:AnsibleProvisioning/ansible_role_server.git
	branch = master
[submodule "roles/php"]
	path = roles/php
	url = git@github.com:AnsibleProvisioning/ansible_role_php.git
	branch = master
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:AnsibleProvisioning/ansible_role_nginx.git
	branch = master
[submodule "roles/deployment"]
	path = roles/deployment
	url = git@github.com:AnsibleProvisioning/ansible_role_deployment.git
	branch = master
